header {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;

    .container {
        width: 80%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .logo {
            img {
                width: 70px;
                height: 70px;
                cursor: pointer;
            }
        }
        nav {
            width: 50%;
            ul {
                width: 100%;
                list-style: none;
                display: flex;
                justify-content: space-around;
                align-items: center;
                button {
                    text-decoration: none;
                    color: #0083DB;
                    border: none;
                    outline: none;
                    font-size: 18px;
                }
                li {
                    cursor: pointer;
                    a {
                        text-decoration: none;
                        color: #0083DB;
                    }
                }
            }
        }
        .phone_number {
            padding: 16px;
            border-radius: 16px;
            background: #40c199;
            cursor: pointer;
            span {
                color: white;
            }
        }
    }
}